@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
#footer {
    background-color: #435055;
    color: #A3F7BF;
    padding: 2% 0% 0% 0%;
    font-family: "Abel", sans-serif;
}

#footer-title {
    display: inline;
    padding: 0% 0% 0% 2%;
}

#footer-social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0% 0% 0% 5%;
    width: 12%;
    float: right;
}

#footer-social-links a {
    padding: 0% 10% 0% 0%;
}

#footer-social-links a:nth-child(3) {
    padding: 0% 5% 0% 0%;
}

#footer-social-links img {
    width: 80%;
}

#footer-page-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 85%;
    height: 25px;
}

#footer-page-links a {
    text-decoration: none;
    color: #A3F7BF;
    padding: 0.3% 6% 0% 6%;
    border-right: 1px solid #A3F7BF;
}

#footer-page-links a:nth-child(4) {
    border-right: none;
}

#copyright {
    text-align: right;
    padding: 0% 1.25% 1% 0%;
}