@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
	*{
		box-sizing: border-box;
		margin: 0;
		paddingL 0;
		background-color:#435055;
	}
	li, a, button{
		font-family: "Abel", sans-serif;
		font-weight:500;
		font-size:16px;
		color:#A0F4BE;
		text-decoration:none;
	}
	header{
		display:flex;
		justify-content: flex-end;
		align-items:center;
		padding:30px 10%;
	}
	.logo{
		cursor: pointer;
		margin-right:auto;
	}
	.nav_links{
		list-style:none;
	}
	.nav_links li{
		display:inline-block;
		padding:0px 20px;
	}
	.nav_links li a{
		transition: all 0.3s ease 0s;
	}
	.nav_links li a:hover{
		color:#0088a9
	}
	button{
		margin-left:20px;
		padding: 9px 25px;
		background-color: rgba(0,136,169,1);
		border:none;
		border-radius:50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}
	button:hover{
		background-color: rgba(0,136,169,0.8);
	}